input {
 file {
   path => ["/home/<user>/projects/covid-dashboard/data/*.csv"]
   start_position => "beginning"
   tags => ['covid','dataset']
   sincedb_path => ["/home/<user>/projects/covid-dashboard/tracker"]
 }
}

filter {
  csv {
   columns => ["Country","State","LastUpdate","Confirmed","Deaths","Recovered","Latitude","Longitude"]
   skip_header => true
   convert => {
      "Confirmed" => "integer"
      "Deaths" => "integer"
      "LastUpdate" => "date_time"
      "Recovered" => "integer"
      "Longitude" => "float"
      "Latitude" => "float"
    }
  }
  mutate {
    rename => {
      "Longitude" => "[Location][lon]"
      "Latitude"  => "[Location][lat]"
    }
    remove_field => ["message","host","path","@timestamp","@version"]
  }
}


output {
  elasticsearch {
      hosts => 'http://localhost:9200'
      index => 'covid'
  }
}
